mat-toolbar span a{
  letter-spacing: 2px;
  font-size: 28px;
  margin-right: 3em;
  text-decoration: none;
  color: white;
}
.fill-remaining-space{
  flex: 1 1 auto;

}

a.mat-button{
 font-size: 20px !important;
 padding-left: .5em;
}
.active{
  text-decoration: underline;
}
.disabled{
  cursor: pointer;
  opacity: 0.7;
}

.disabled:hover::after{
  content: 'Login to see your notes';
  position:absolute;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.8) ;
  top: 5px;
  left:120px;
  font-size: 80%;
  color: #6d6d6d;
  z-index: 999;

}
