<section  *ngIf="authService.user$ | async  as user; else notLoggedIn">
  <span> {{ user.displayName }} </span>
  <button  mat-mini-fab class="mat-elevation-z24" (click)="signOut()">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</section>



<ng-template #notLoggedIn>
  <span (click)="showLoginOptions=!showLoginOptions" style="margin-right:.5em;color:white;font-size: 16px; cursor: pointer; font-weight:500;font-family: 'Roboto', sans-serif">Login</span>
  <button  [@visibilityAnimation]="showLoginOptions" mat-mini-fab (click)="githubLogin()" *ngIf="!user" matTooltip="Login with github">
    <i class="fa fa-github fa-2x"></i>
  </button>

  <button [@visibilityAnimation]="showLoginOptions" mat-mini-fab  (click)="googleLogin()" *ngIf="!user" matTooltip="Login with google">
    <i class="fa fa-google fa-2x"></i>
  </button>
</ng-template>

