/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.loading {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  color: #e2e2e2;
}
app-root:empty + .loading {
  opacity: 1;
  z-index: 100;
}

app-root:empty + .loading h1 {
  text-align: center;
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  width: 100%;
}
